@font-face {
  font-family: 'Icons';
  src: url('icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.stats {
  display: flex;
}

.stat {
  position: relative;
}

.stat i {
  text-align: center;
  position: absolute;
  width: 100%;
  line-height: 2.5rem;
}

.stat .text {
  text-align: center;
  display: block;
}

.stat svg {
  transform: rotate(-90deg);
}

.stat circle {
  fill: transparent;
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'Icons';
  background: none;
  width: auto;
  height: auto;
  font-style: normal;
}

.icon-cpu:before {
  content: '\f002';
}

.icon-batteryfull:before {
  content: '\f0fa';
}

.icon-batteryeighty:before {
  content: '\f0f9';
}

.icon-batterysixty:before {
  content: '\f0f8';
}

.icon-batteryforty:before {
  content: '\f0f7';
}

.icon-batterytwenty:before {
  content: '\f0f6';
}

.stat .icon-batteryempty:before {
  content: '\f0f5';
}

.icon-fan:before {
  content: '\f66f';
}

.animation-fan {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}